body{
    padding: 1.5rem;
}

#lista-de-tarefas{
    /*mobile first*/
    /*nested class*/
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;    
}

form{
    max-width: 600px;
    margin: 1.70rem auto;

    .botoes{
        margin-top: 1rem;
        display: flex;
        justify-content: space-around;
    }
}
